@media only screen and (max-width: 450px) {
    .content{
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    h2{
        font-size: 24px;
    }

    .image{
        width: 100%;
        height: auto;
    }
    .desktop-image{
        display: none;
    }
    .mobile-image{
        display: block;
        width: 100%;
        border-radius: 8px 8px 0 0;
    }
    .purple-screen{
        width: 300px;
        height: 230px;
        position: absolute;
        top: 69px;
    }

    .true-content{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 40px 30px;
    }

    .stats{
        margin-top: 0;
    }

    .stats-single{
        width: 100%;
        margin-top: 30px;
    }
    
}